<?xml version="1.0"?>
<model>
  <name>apriltag_base</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Priyam Gupta</name>
  </author>
  <description>
    Static base with AprilTag (ID 0, tag size 1000mm, total size 1250mm) for visual detection experiments.
  </description>
</model>
